
$black: #000;

//bootstrap-colors
$bootstrap-primary: #0275d8;
$bootstrap-success: #5cb85c;
$bootstrap-warning: #f0ad4e;
$bootstrap-danger: #d9534f;
$bootstrap-dark: #343a40;

//orders
$nav-copy-default-gray: #868e96;
$gray-card-border: #d3d3d3;
$gray-card-inner: #ddd;
$dark-gray-1: #888;
$row-odd: rgba(0,0,0,.05);
$row-selected: rgba(140,143,183,0.2);