nav {
    .nav-screen {
        color: white;
        font-size: 24px;

        .small {
            font-size: 14px;
        }
    }
    .small {
        font-size: 14px;
    }
}

.content-wrapper,
.content-wrapper > .container-fluid,
.content-wrapper > .container-fluid > .row,
.content-wrapper > .container-fluid > .row > .col-12,
.content-wrapper > .container-fluid > .row > .col-12 > .content-container {
    min-height: calc(100vh - 56px);
}

.badge {
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: green;
    border-radius: 10px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.bold {
    font-weight: bold;
}