<%- contentFor('breadcrumb') %>
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-dashboard"></i> Dashboard
    </li>
</ol>

<%- contentFor('body') %>
<div class="content-container dashboard">
    <div class="row">
        
    </div>

    <div class="col-xs-12">
        
    </div>

    <div class="col-xs-12">
        
    </div>
</div>