.order-card {
	border-color: $bootstrap-primary;

	.card-header {
		background-color: $bootstrap-primary;
    	border-color: $bootstrap-primary;
	}
	
	&.blocked {
		border-color: $bootstrap-warning;

		.card-header{
			background-color: $bootstrap-warning;
	    	border-color: $bootstrap-warning;
    	}
	}
}
