.dashboard {
    .action-buttons-container {
        margin-top: 20px;

        .btn {
            cursor: pointer;
        }
    }
    .tickets-dashboard {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1100;

        .table-headers {
            font-size: 40px;
            text-align: center;
        }

        .table-content {
            .column {
                align-self: flex-start;
                &.drafts-column {
                    background-color: #2980b9;
                }
                &.orders-column {
                    background-color: #44AF69;
                }
                .ticket-row {
                    display: flex;
                    flex-direction: row;
                    font-size: 48px;
                    height: 150px;

                    &:nth-child(even) {
                        background-color: rgba(171, 183, 183, 0.5);
                    }

                    .ticket {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        &.ticket-number {
                            font-weight: bold;
                            overflow: hidden;
                            width: 20%;

                            .title {
                                font-size: 14px;
                            }

                            .number {
                                font-size: 5vw;
                            }
                        }

                        &.ticket-info {
                            align-items: flex-start;
                            padding-left: 10px;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }        
    }
}