.order-details {
	.row.section{
		margin-top: 20px;
		
		&.order-header {
			.row.provider {
				background-color: $row-odd;
			}

			.key {
				font-weight: bold;
			}

			span {
				font-weight: bold;

				&.danger{color:$bootstrap-danger;}
				&.success{color:$bootstrap-success;}
				&.primary{color:$bootstrap-primary;}
			}
		}

		&.products-table {
			table tfoot {
				tr.total-line {
					background-color: white;

					td {
						font-weight: bold;
						
						&.key {
							text-align: right;
						}	
					}
					
				}
			}
		}

		&.activity-log {
			.log-entry {
				span.bold {
					font-weight: bold;
				}

				span.action {
					&.added {color:$bootstrap-success;}
					&.updated {color:$bootstrap-warning;}
					&.deleted {color:$bootstrap-danger;}
					&.primary {color:$bootstrap-primary;}
				}

				.wax-stamp .user{
					color: $bootstrap-primary;
					text-decoration: underline;
				}
			}
		}
	}
	.error.well{
		margin-top: 20px;
	}
}


