<%- contentFor('breadcrumb') %>
    <!-- <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-shopping-cart"></i> Orders
        </li>
    </ol> -->

<%- contentFor('body') %>
    <div class="content-container dashboard">
        <div class="row">
            <div class="col-12 text-center action-buttons-container">
                <div class="btn btn-lg btn-success start">Start</div>
                <div class="btn btn-lg btn-danger stop hide">Stop</div>
            </div>
        </div>
        <div class="row tickets-dashboard hide">
            <div class="col-12 ">
                <div class="row table-headers">
                    <div class="col-6 text-center drafts-column-header">En proceso...</div>
                     <div class="col-6 text-center orders-column-header">Listo para cobro</div>
                </div>
                <div class="row no-gutters table-content">
                    <div class="col-6 column drafts-column"></div>
                     <div class="col-6 column orders-column"></div>
                </div>
            </div>
        </div>
    </div>