<%- contentFor('breadcrumb') %>
    <!-- <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-shopping-cart"></i> Orders
        </li>
    </ol> -->

<%- contentFor('body') %>
    <div class="content-container reports">
        <div class="row">
            <div class="col-xs-12">
                This is the reports screen
            </div>
        </div>
    </div>