<%- contentFor('breadcrumb') %>
    <!-- <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-shopping-cart"></i> Orders
        </li>
    </ol> -->

<%- contentFor('body') %>
<div class="content-container search">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <div class="filter-bar card card-inverse">
                    <div class="card-header card-primary clearfix">
                        <button class="btn btn-default pull-right" type="button" data-toggle="collapse" data-target="#filtersBar" aria-expanded="false" aria-controls="collapseExample"> <span class="oi oi-cog"></span></button>
                    </div>
                    <div class="collapse" id="filtersBar">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <input class="form-control" placeholder="# Reference" type="text">
                                </div>
                                <div class="col-12 col-sm-4">
                                    <input class="form-control" placeholder="Client" type="text">
                                </div>
                                <div class="col-12 col-sm-4">
                                    <input class="form-control" placeholder="Date" type="date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="ordersTable" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>_id</th>
                            <th>Odoo Ref.</th>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Ticket</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>





