<%- contentFor('breadcrumb') %>
    <!-- <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-shopping-cart"></i> Orders
        </li>
    </ol> -->

<%- contentFor('body') %>
<div class="content-container search">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="example" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Ref. Odoo</th>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>