nav .nav-screen {
  color: white;
  font-size: 24px; }
  nav .nav-screen .small {
    font-size: 14px; }

nav .small {
  font-size: 14px; }

.content-wrapper,
.content-wrapper > .container-fluid,
.content-wrapper > .container-fluid > .row,
.content-wrapper > .container-fluid > .row > .col-12,
.content-wrapper > .container-fluid > .row > .col-12 > .content-container {
  min-height: calc(100vh - 56px); }

.hide {
  display: none; }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: green;
  border-radius: 10px;
  position: absolute;
  top: 12px;
  right: 12px; }

.bold {
  font-weight: bold; }

.product-card {
  padding: 5px; }
  .product-card .product-card-inner {
    background-color: #d3d3d3;
    border-radius: 6px;
    padding: 5px; }
    .product-card .product-card-inner .product-card-body .product-card-image {
      border-radius: 6px 6px 0 0;
      width: 100%; }
    .product-card .product-card-inner .product-card-footer {
      align-items: center;
      border-radius: 0 0 6px 6px;
      display: flex;
      flex-direction: column;
      height: 30px;
      justify-content: center;
      overflow: hidden; }
      .product-card .product-card-inner .product-card-footer span {
        font-weight: bold;
        font-size: 0.8em; }
  .product-card.selected .product-card-inner {
    background-color: green; }

.dashboard .action-buttons-container {
  margin-top: 20px; }

.screen-holder {
  height: calc(100vh - 56px); }
  .screen-holder .row.orders-screen {
    display: none; }
    .screen-holder .row.orders-screen.active {
      display: flex; }
    .screen-holder .row.orders-screen .inner-container .orders-thumbs {
      padding-top: 10px; }
      .screen-holder .row.orders-screen .inner-container .orders-thumbs .order-card {
        cursor: pointer; }
        .screen-holder .row.orders-screen .inner-container .orders-thumbs .order-card .card-header {
          font-weight: bold; }
        .screen-holder .row.orders-screen .inner-container .orders-thumbs .order-card .card-body {
          align-items: center;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          padding: 20px 5px;
          text-align: center; }
          .screen-holder .row.orders-screen .inner-container .orders-thumbs .order-card .card-body .ticket {
            border-left: 1px solid gray;
            font-size: 26px;
            white-space: nowrap;
            width: 40%; }
          .screen-holder .row.orders-screen .inner-container .orders-thumbs .order-card .card-body .client {
            margin-right: 5px; }
  .screen-holder .row.order-details-screen {
    display: none;
    height: inherit;
    z-index: 20; }
    .screen-holder .row.order-details-screen.active {
      display: flex; }
    .screen-holder .row.order-details-screen .order-wrapper {
      display: flex;
      flex-wrap: wrap; }
      .screen-holder .row.order-details-screen .order-wrapper .mobile-tabs {
        display: none;
        height: 30px;
        background-color: #d3d3d3;
        cursor: pointer; }
        @media (max-width: 767px) {
          .screen-holder .row.order-details-screen .order-wrapper .mobile-tabs {
            display: block; } }
        .screen-holder .row.order-details-screen .order-wrapper .mobile-tabs .tab {
          background-color: gray;
          text-decoration: none;
          color: black; }
          .screen-holder .row.order-details-screen .order-wrapper .mobile-tabs .tab.active {
            background-color: transparent; }
      @media (max-width: 767px) {
        .screen-holder .row.order-details-screen .order-wrapper .order-details-section {
          display: none;
          position: relative; }
          .screen-holder .row.order-details-screen .order-wrapper .order-details-section.active {
            display: block; } }
      .screen-holder .row.order-details-screen .order-wrapper .order-details-section .action-buttons-bar {
        padding-top: 10px; }
      .screen-holder .row.order-details-screen .order-wrapper .order-details-section .client-info {
        background-color: #d3d3d3;
        border-radius: 5px;
        height: 25px;
        text-align: center;
        margin-top: 10px; }
      .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder {
        height: calc(100% - 249px);
        padding: 10px 0; }
        .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list {
          overflow-y: scroll; }
          @media (max-width: 767px) {
            .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list {
              height: calc(100vh - 353px); } }
          .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list.border-inner {
            border: 2px solid #d3d3d3;
            border-radius: 7px; }
          .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list .order-row {
            cursor: pointer; }
            .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list .order-row:first-child .inner {
              border-top: 0; }
            .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list .order-row.selected {
              background: rgba(140, 143, 183, 0.2); }
            .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list .order-row .inner {
              border-top: 1px solid #d3d3d3;
              margin: 0 5px;
              padding: 5px 0; }
            .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list .order-row .product-price {
              text-align: right; }
            .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list .order-row .product-qty {
              color: #888; }
              .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-products-holder .order-details-products-list .order-row .product-qty .qty {
                color: #000; }
      .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-keypad {
        padding: 0 15px;
        margin: 0 -15px; }
        .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-keypad .col-3 {
          padding: 0 6px; }
          .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-keypad .col-3.col-left {
            padding-left: 0; }
          .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-keypad .col-3.col-right {
            padding-right: 0; }
        .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-keypad .btn {
          cursor: default;
          text-align: center;
          width: 100%;
          font-size: 14px;
          overflow-x: hidden;
          margin-bottom: 6px; }
          .screen-holder .row.order-details-screen .order-wrapper .order-details-section .order-keypad .btn.qty {
            height: 78px;
            line-height: 54px;
            margin-bottom: 0; }
      .screen-holder .row.order-details-screen .order-wrapper .products-section {
        padding: 10px;
        overflow-y: scroll;
        z-index: 30; }
        @media (max-width: 767px) {
          .screen-holder .row.order-details-screen .order-wrapper .products-section {
            display: none;
            overflow-y: auto; }
            .screen-holder .row.order-details-screen .order-wrapper .products-section.active {
              display: block; } }
        .screen-holder .row.order-details-screen .order-wrapper .products-section .row {
          margin-right: -10px;
          margin-left: -10px; }

@media (min-width: 768px) {
  .login .container .card.card-login {
    width: 60%; } }

@media (min-width: 992px) {
  .login .container .card.card-login {
    width: 50%; } }

@media (min-width: 1200px) {
  .login .container .card.card-login {
    width: 40%; } }
