html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .orders-screen {
  display: none; }

html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .order-detail .product-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .order-detail .product-cards-container .product-card {
    display: inline-block;
    width: 122px;
    margin-right: 10px; }
    html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .order-detail .product-cards-container .product-card .panel {
      height: 122px;
      position: relative; }
      html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .order-detail .product-cards-container .product-card .panel .badge {
        background-color: green;
        position: absolute;
        top: 5px;
        right: 5px; }
      html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .order-detail .product-cards-container .product-card .panel .panel-body img {
        width: 100%; }
      html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .order-detail .product-cards-container .product-card .panel .panel-heading {
        bottom: 0;
        padding: 4px;
        position: absolute;
        width: 100%; }
        html body #wrapper #page-wrapper .container-fluid .content-container.orders .screen-holder .order-detail .product-cards-container .product-card .panel .panel-heading .panel-title {
          font-size: 12px; }

#page-wrapper .page-header {
  margin-top: 0; }
